//navBar styles
$mainColor: rgb(218, 194, 204);
$mainGradient:  radial-gradient(
    circle,
    rgb(210, 185, 196) 0%,
    rgba(148, 187, 233, 1) 100%);
$navBarText: rgba(13, 15, 70, 1);
$navBarHover: rgb(183, 0, 0);
